/* Container class and ID selectors */
.advisor {
  margin: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  font-size: 12px;
  cursor: pointer;
}

.advisor:hover {
  border: 1px solid #ececec;
}

.advisor b {
  font-size: 1.35em;
  margin-bottom: 0.3em;
  display: inline-block;
}

.advisor .image-container{
  margin-top: 10px;
}

.square-container {
    width: 100%;
    padding-top: 100%; 
    position: relative; 
    overflow: hidden;
}

.square-container .square {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.image-container img {
  padding: 10px;
}

.container .mix,
.container .gap{
  width: 5px;
  display: inline-flex;
  margin: 0 1%;
}

/*Fail message styles*/

.container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;

}

.container .fail-message:before{
  content: '';
  display: inline-flex;
  vertical-align: middle;
  height: 100%;
}

.container .fail-message span{
  display: inline-flex;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}

.container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}

.container h1 {
  text-align: center;
}

.container div {
  text-align: center;
}

#Container{
  min-height: 400px;
  min-width: 250px;
  text-align: justify;
  position: relative;
  vertical-align: top;
  text-align: center;
}