<template name = "findPi">

	<div class="section" id="about">
		<div class="container">
			<div class="row">

				<!--First Column of About Section-->
				<div class="col-sm-4">
					{{>logo}}
				</div>

				<!--Second Column of About Section-->
				<div class="col-sm-8">
					<br>
					<br>
					<br>
					<br>
					<br>
					<div class="form-group">
						<label for="School">School</label>
						<select class="form-control" id="schoolSelect">
						 	<option class="school" selected>Select School</option>
						    {{#each schools}}
						    	<option class="school" value={{name}}>{{name}}</option>
						    {{/each}}  
						</select>
					</div>

				    <div class="form-group">
						<label for="Department">Department</label>
						<select class="form-control" id="deptSelect">
							<option class="dept" value="">Select Department</option>
							{{#each departments}}
								<option class="dept" value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Container" class="container" style="margin-top: 20px;">
		{{#each advisors }}
			<div class="col-sm-3">
				<div class="advisor">
					<br>
					<br>
					<b>{{firstName}} {{lastName}}</b>
					<br>
					{{school}}
					<br>
					{{dept}}
					<br>
					<div class="image-container square-container">
						<img src="{{#if imageUrl}}{{imageUrl}}{{else}}/images/avatar.png{{/if}}" class="square">
					</div>
					<br>
					<br>
				</div>
			</div>
		{{/each}}
	</div>				
</template>