<template name = "faq">
    <div class="section" id="faq">
        <div class="container">
            <div class="row">
                <!--First Column of About Section-->
                <div class="col-sm-4">
                    {{> logo}}
                </div>
                <!--Second Column of About Section-->
                <div class="col-sm-6">
                    <br>
                    <br>
                    <br>
                    <button class="accordion">
                        Can I rate a PI more than once?
                    </button>
                    <div class="panel">
                		<p>No, but you can rate more than one PI!</p>
                    </div>

                    <button class="accordion">
                        Can I delete or change my rating?
                    </button>
                    <div class="panel">
                        <p>Yes! You can delete or change your rating and comments at any time! If you submitted the PI image, you can also change that.</p>
                    </div>

                    <button class="accordion">
                        Are the ratings anonymous?
                    </button>
                    <div class="panel">
                        <p>Absolutely! No identifying information will be posted with your rating.</p>
                    </div>

                    <button class="accordion">
                        Why do I have to sign-in before rating or viewing?
                    </button>
                    <div class="panel">
                        <p>We want to authenticate our users, and know who to reach out to if we have questions about submissions.</p>
                    </div>

                    <button class="accordion">
                        I’m afraid of being identified by my writing. Do I have to submit comments?
                    </button>
                    <div class="panel">
                        <p>While comments can be particularly helpful to users considering working with a PI, they are optional.</p>
                    </div>

                    <button class="accordion">
                        Who can submit ratings?
                    </button>
                    <div class="panel">
                        <p>Anyone working with PIs can rate them on GradPI. This includes undergrads, postbacs, postgrads, grad students, postdocs and research scientists too!</p>
                    </div>

                    <button class="accordion">
                        Can I share GradPI with my friends?
                    </button>
                    <div class="panel">
                        <p>Most definitely! We’d like to make the site as useful as possible to grad students! Feel free to rate PIs and share the site with others!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>