<template name = "faq">
    <div class="section" id="faq">
        <div class="container">
            <div class="row">
                <!--First Column of About Section-->
                <div class="col-sm-4">
                    {{> logo}}
                </div>
                <!--Second Column of About Section-->
                <div class="col-sm-6">
                    <p>
                        <br>
                        <br>
                        <br>
                        <ul>
                        	<li>Can I rate a PI more than once?
                        		<br>
                        		<br>
                        		No, but you can rate more than one PI!
                        	</li>
							<br>
                        	<br>
                        	<li>Can I change my rating?
                        		<br>
                        		<br>
                        		Yes! Although you can’t delete a rating, but you can change your rating and comments at any time. If you submitted the PI image, you can also change that.
                        	</li>
							<br>
							<br>
							<li>Are the ratings anonymous?
								<br>
								<br>
                        		Absolutely! No identifying information will be posted with your rating.
                        	</li>
                        	<br>
                        	<br>
                        	<li>Why do I have to sign-in before rating or viewing?
                        		<br>
                        		<br>
                        		We want to authenticate our users, and know who to reach out to if we have questions about submissions.
                        	</li>
                        	<br>
                        	<br>
                        	<li>I’m afraid of being identified by my writing. Do I have to submit comments?
	                        	<br>
	                        	<br>
	                        	While comments can be particularly helpful to users considering working with a PI, they are optional.
                        	</li>
                        	<br>
                        	<br>
                        	<li>Who all can submit ratings?
	                        	<br>
	                        	<br>
	                        	Currently, we’re restricting ratings to grad students. However, we anticipate opening them up to undergrads and postdocs who work with PI’s as well.
                        	</li>
                        	<br>
                        	<br>
                        	<li>Can I share GradPI with my friends?
	                        	<br>
	                        	<br>
	                        	Most definitely! We’d like to make the site as useful as possible to grad students! Feel free to rate PIs and share the site with others!
                    		</li>
                    	</ul>
                       	<br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>