<template name = "school">
	<body>
		<!--Navigation Bar Code including links to IDs-->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  	<div class="container-fluid">
		    	<div class="navbar-header">
		      		<a class="navbar-brand" href="#find-school">Schools</a>
		    	</div>
		    	<div class="navbar-collapse collapse">
		    		<ul class="nav navbar-nav">
				      <li><a href="/">About Us</a></li>
				      <li><a href="find-pi.html">Find a P.I.</a></li>
				      <li><a href="/school">Find a School</a></li> 
				      <li><a href="rate-pi.html">Rate a P.I.</a></li>
				      <li><a href="/login">Log In</a></li>
				      <li><a href="sign-up.html">Sign Up</a></li> 
				      <li><a href="contacts.html">Contact Us</a></li>
				    </ul>
		    	</div>
		  	</div>
		</nav>
			<div class="section" id="about">
				<div class="container">
					<div class="row">
						<!--First Column of About Section-->
						<div class="col-md-1">
							<br>
							<br>
							<br>
							<br>
							<h1>SCHOOLS</h1>
						</div>
						<!--Second Column of About Section-->
						<div class="col-md-5 col-md-offset-3">
							<p>
								<br>
								<br>
								<br>
								<br>
								<ul>
									<li>Albertus Magnus College</li>
									<li>Gateway Community College</li>
									<li>Naugatuck Valley Community College</li>
									<li>Paier College of Art</li>
									<li>Post University</li>
									<li>Quinnipiac University</li>
									<li>Southern Connecticut University</li>
									<li>University of New Haven</li>
									<li>University of Connecticut</li>
									<li>Yale University</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>	
	</body>
</template>