
<template name = "navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
	      		<a class="navbar-brand" href="#find-school">Schools</a>
	    	</div>
	    	<div class="navbar-collapse collapse">
	    		<ul class="nav navbar-nav">
			      <li><a href="/">About Us</a></li>
			      <li><a href="find-pi.html">Find a P.I.</a></li>
			      <li><a href="/school">Find a School</a></li> 
			      <li><a href="rate-pi.html">Rate a P.I.</a></li>
			      <li><a href="/login">Log In</a></li>
			      <li><a href="sign-up.html">Sign Up</a></li> 
			      <li><a href="contacts.html">Contact Us</a></li>
			    </ul>
	    	</div>
	  	</div>
	</nav>
</template>