<template name = "ratepi">
	{{>navbar}}
		<div class="section" id="rate">
        	<div class="container">
          		<div class="row">
            <!--First Column of Rating Section-->
            		<div class="col-sm-1">
		              	<br>
		             	<br>
		              	<br>
              			<img src="/images/GradPI-logo.png">
					</div>
					<div class="col-sm-2 col-sm-offset-4">
						<p>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							{{this.Advisor.name}}
							{{this.Advisor.school}}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							Stature
						</p>
					</div>

					<div class="col-sm-4">
						<div class="stars stature">
							<form action="">
							    <input class="star star-5" id="sstar-5" type="radio" name="star"/>
							    <label class="star star-5" for="sstar-5"></label>
							    <input class="star star-4" id="sstar-4" type="radio" name="star"/>
							    <label class="star star-4" for="sstar-4"></label>
							    <input class="star star-3" id="sstar-3" type="radio" name="star"/>
							    <label class="star star-3" for="sstar-3"></label>
							    <input class="star star-2" id="sstar-2" type="radio" name="star"/>
							    <label class="star star-2" for="sstar-2"></label>
							    <input class="star star-1" id="sstar-1" type="radio" name="star"/>
							    <label class="star star-1" for="sstar-1"></label>
							</form>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<div class="tooltip-wrap">
  							<p>
								?
							</p>
  							<div class="tooltip-content">
			    				<p>How well-known is this PI in the field? Does this PI do impactful research?</p>
			  				</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							Mentorship
						</p>
					</div>

					<div class="col-sm-4">
						<div class="stars">
							<form action="">
							    <input class="star star-5" id="mstar-5" type="radio" name="star"/>
							    <label class="star star-5" for="mstar-5"></label>
							    <input class="star star-4" id="mstar-4" type="radio" name="star"/>
							    <label class="star star-4" for="mstar-4"></label>
							    <input class="star star-3" id="mstar-3" type="radio" name="star"/>
							    <label class="star star-3" for="mstar-3"></label>
							    <input class="star star-2" id="mstar-2" type="radio" name="star"/>
							    <label class="star star-2" for="mstar-2"></label>
							    <input class="star star-1" id="mstar-1" type="radio" name="star"/>
							    <label class="star star-1" for="mstar-1"></label>
							</form>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<div class="tooltip-wrap">
			  				<p>
								?
							</p>
			  				<div class="tooltip-content">
			    				<p>How well does this PI mentor students in the lab?</p>
			  				</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							Autonomy
						</p>
					</div>
					<div class="col-sm-4">
						<div class="stars">
							<form action="">
							    <input class="star star-5" id="astar-5" type="radio" name="star"/>
							    <label class="star star-5" for="astar-5"></label>
							    <input class="star star-4" id="astar-4" type="radio" name="star"/>
							    <label class="star star-4" for="astar-4"></label>
							    <input class="star star-3" id="astar-3" type="radio" name="star"/>
							    <label class="star star-3" for="astar-3"></label>
							    <input class="star star-2" id="astar-2" type="radio" name="star"/>
							    <label class="star star-2" for="astar-2"></label>
							    <input class="star star-1" id="astar-1" type="radio" name="star"/>
							    <label class="star star-1" for="astar-1"></label>
							</form>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<div class="tooltip-wrap">
			  				<p>
								?
							</p>
			  				<div class="tooltip-content">
			    				<p>Does this PI delegate tasks and trust students to get them done? Or does this PI micromanage everything?</p>
			  				</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							Resources
						</p>
					</div>

					<div class="col-sm-4">
						<div class="stars">
							<form action="">
							    <input class="star star-5" id="rstar-5" type="radio" name="star"/>
							    <label class="star star-5" for="rstar-5"></label>
							    <input class="star star-4" id="rstar-4" type="radio" name="star"/>
							    <label class="star star-4" for="rstar-4"></label>
							    <input class="star star-3" id="rstar-3" type="radio" name="star"/>
							    <label class="star star-3" for="rstar-3"></label>
							    <input class="star star-2" id="rstar-2" type="radio" name="star"/>
							    <label class="star star-2" for="rstar-2"></label>
							    <input class="star star-1" id="rstar-1" type="radio" name="star"/>
							    <label class="star star-1" for="rstar-1"></label>
							</form>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<div class="tooltip-wrap">
			  				<p>
								?
							</p>
			  				<div class="tooltip-content">
			    				<p>How well is this PI funded?</p>
			  				</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							Tact
						</p>
					</div>

					<div class="col-sm-4">
						<div class="stars">
							<form action="">
							    <input class="star star-5" id="tstar-5" type="radio" name="star"/>
							    <label class="star star-5" for="tstar-5"></label>
							    <input class="star star-4" id="tstar-4" type="radio" name="star"/>
							    <label class="star star-4" for="tstar-4"></label>
							    <input class="star star-3" id="tstar-3" type="radio" name="star"/>
							    <label class="star star-3" for="tstar-3"></label>
							    <input class="star star-2" id="tstar-2" type="radio" name="star"/>
							    <label class="star star-2" for="tstar-2"></label>
							    <input class="star star-1" id="tstar-1" type="radio" name="star"/>
							    <label class="star star-1" for="tstar-1"></label>
							</form>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<div class="tooltip-wrap">
			  				<p>
								?
							</p>
			  				<div class="tooltip-content">
			    				<p>How well does this PI convey feedback?</p>
			  				</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 col-sm-offset-2">
						<p>
							<br>
							<br>
							Additional Information
						</p>
					</div>

					<div class="col-sm-4">
						<div class="input">
							<br>
							<br>
							<textarea id="comments" maxlength="450">
							</textarea>
						</div>
					</div>

					<div class="col-sm-3 col-sm-offset-1">
						<br>
						<br>
						<div class="tooltip-wrap">
			  				<p>
								?
							</p>
			  				<div class="tooltip-content">
			    				<p>Is there anything else you'd like to share about this PI?</p>
			  				</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-sm-offset-5">
						<br>
						<br>
						<br>
						<!-- <input type="submit" id="submit" value="Submit"/> -->
						<button type="submit" id="ratingSubmit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
</template>
