<template name = "rate-pi">
	{{>navbar}}
			<p>
				<br>
				<br>
				<br>
				<br>
				<br>
			</p>
	<div class = "row">
	
		<div class="col-sm-2 col-sm-offset-1">
			<p>
				<br>
				<br>
				Stature
			</p>
		</div>

		<div class="col-sm-4">
			<p>	
				<div class="stars">
				  <form action="">
				    <input class="star star-5" id="star-5" type="radio" name="star"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4" id="star-4" type="radio" name="star"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3" id="star-3" type="radio" name="star"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2" id="star-2" type="radio" name="star"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1" id="star-1" type="radio" name="star"/>
				    <label class="star star-1" for="star-1"></label>
				  </form>
				</div>
			</p>
		
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<p>
				<br>
				<br>
				Help
			</p>
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-2 col-sm-offset-1">
			<p>
				<br>
				<br>
				Mentorship
			</p>	
		</div>

		<div class="col-sm-4">
			<div class="stars">
				  <form action="">
				    <input class="star star-5" id="star-5" type="radio" name="star"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4" id="star-4" type="radio" name="star"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3" id="star-3" type="radio" name="star"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2" id="star-2" type="radio" name="star"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1" id="star-1" type="radio" name="star"/>
				    <label class="star star-1" for="star-1"></label>
				</form>
			</div>
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<p>
				<br>
				<br>
				Help
			</p>
		</div>
	</div>
	<div class="row">
	
		<div class="col-sm-2 col-sm-offset-1">
			<p>
				<br>
				<br>
				Autonomy
			</p>
		</div>

		<div class="col-sm-4">
			<div class="stars">
				<form action="">
				    <input class="star star-5" id="star-5" type="radio" name="star"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4" id="star-4" type="radio" name="star"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3" id="star-3" type="radio" name="star"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2" id="star-2" type="radio" name="star"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1" id="star-1" type="radio" name="star"/>
				    <label class="star star-1" for="star-1"></label>
				</form>
			</div>
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<p>
				<br>
				<br>
				Help
			</p>
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-2 col-sm-offset-1">
			<p>
				<br>
				<br>
				Resources
			</p>	
		</div>

		<div class="col-sm-4">
			<div class="stars">
				<form action="">
				    <input class="star star-5" id="star-5" type="radio" name="star"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4" id="star-4" type="radio" name="star"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3" id="star-3" type="radio" name="star"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2" id="star-2" type="radio" name="star"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1" id="star-1" type="radio" name="star"/>
				    <label class="star star-1" for="star-1"></label>
				</form>
			</div>
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<p>
				<br>
				<br>
				Help
			</p>
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-2 col-sm-offset-1">
			<p>
				<br>
				<br>
				Tact
			</p>	
		</div>

		<div class="col-sm-4">
			<div class="stars">
				<form action="">
				    <input class="star star-5" id="star-5" type="radio" name="star"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4" id="star-4" type="radio" name="star"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3" id="star-3" type="radio" name="star"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2" id="star-2" type="radio" name="star"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1" id="star-1" type="radio" name="star"/>
				    <label class="star star-1" for="star-1"></label>
				</form>
			</div>
		</div>

		<div class="col-sm-3 col-sm-offset-1">
			<p>
				<br>
				<br>
				Help
			</p>
		</div>
	</div>
</template>
