<template name = "rate-pi">
	{{>navbar}}
	<div class = "row">
	
		<div class="col-sm-4 col-sm-offset-2">
			<p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				Stature
			</p>
		</div>

		<div class="col-sm-4 col-sm-offset-1">
			<p>

			</p>
		
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-4 col-sm-offset-2">
			<p>
				<br>
				<br>
				Mentorship
			</p>	
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-4 col-sm-offset-2">
			<p>
				<br>
				<br>
				Autonomy
			</p>
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-4 col-sm-offset-2">
			<p>
				<br>
				<br>
				Resources
			</p>	
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>
	</div>
	<div class = "row">
	
		<div class="col-sm-4 col-sm-offset-2">
			<p>
				<br>
				<br>
				Tact
			</p>	
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>

		<div class="col-sm-4 col-sm-offset-1">
		</div>
	</div>
</template>
