<template name = "about">
    <div class="section" id="about">
        <div class="container">
            <div class="row">
                <!--First Column of About Section-->
                <div class="col-sm-4">
                    {{> logo}}
                </div>
                <!--Second Column of About Section-->
                <div class="col-sm-6">
                    <p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <b>ABOUT US</b>
                        <br>
                        <br>
                        One of the most important decisions a student makes in graduate school is choosing an advisor or Principal Investigator (PI). This decision can make or break the student. However, there are few resources to reliably assess potential matches.
                        <br>
                        <br>
                        GradPI helps students to make an informed decision by providing a venue for past and current grad students and postdocs to anonymously evaluate PIs based on our SMART (Stature, Mentorship, Autonomy, Resources, Tact) assessment. Log-in to view or rate PIs today!
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>