<template name = "advisorRate">
	<div class="section" id="rate">
    	<div class="container">
      		<div class="row">

				<div class="col-sm-4 col-sm-offset-4">
					{{> advisorProfileCard advisor=advisor}}
				</div>
			</div>

			<form id="rating-form">
				<!-- Stars section -->
				{{#each criterias}}
					<div class="row" id="rating-{{key}}">
						<div class="col-sm-3 col-sm-offset-1 tooltip-wrap">
							<p>
								<br>
								<b>{{name}}</b>
								<div class="tooltip-content">
				    				<p>{{tooltip}}</p>
				  				</div>
							</p>
						</div>

						<div class="col-sm-6 col-sm-offset-2">
							<div class="pull-left">
								{{> ratingStars value=(rating key)}}
							</div>
						</div>
					</div>
				{{/each}}
				<!-- Stars section END-->
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1 tooltip-wrap">
						<p>
							<br>
							<br>
							<b>Additional Information</b>
							<div class="tooltip-content">
			    				<p>(Is there anything else you'd like to share about this PI?)</p>
			  				</div>
						</p>
					</div>

					<div class="col-sm-6 col-sm-offset-2">
						<div class="input">
							<br>
							<br>
							<textarea id="comments" maxlength="450">{{free_feedback}}</textarea>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-8 col-sm-offset-1">
						<p>
							<br>
							<br>
							<b>The following information will not be displayed with your rating, but is only collected for analytics.</b>
							<br>
							<br>
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 col-sm-offset-1 tooltip-wrap">
						<p>
							<br>
							<br>
							<b>You are/were a(n):</b>
							<div class="tooltip-content">
			    				<p>(Under what role did you interact with this PI?)
			    				</p>
			  				</div>
						</p>
					</div>

					<div class="col-sm-6 col-sm-offset-2">
						<div class="radio">
							<label><input type="radio" value="undergrad" name="role" checked={{isEqual ratingsObj.role "undergrad"}}>Undergrad</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="postbac"  name="role" checked={{isEqual ratingsObj.role "postbac"}}>Postbac/Postgrad Assoc.</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="grad" name="role" checked={{isEqual ratingsObj.role "grad"}}>Grad Student</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="postdoc" name="role" checked={{isEqual ratingsObj.role "postdoc"}}>Postdoc</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="research" name="role" checked={{isEqual ratingsObj.role "research"}}>Research Scientist</label>
						</div>
					</div>
				</div>

				{{#if gradSelected}}
				<div class="row">
					<div class="col-sm-3 col-sm-offset-1 tooltip-wrap">
						<p>
							<br>
							<br>
							<b>PI is/was a:</b>
							<div class="tooltip-content">
			    				<p>(In what position did this PI work with you?)</p>
			  				</div>
						</p>
					</div>

					<div class="col-sm-6 col-sm-offset-2">
						<div class="radio">
							<label><input type="radio" value="rotation" name="PIrole" checked={{isEqual ratingsObj.PIrole "rotation"}}>Rotation PI</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="lab"  name="PIrole" checked={{isEqual ratingsObj.PIrole "lab"}}>Lab PI</label>
						</div>
						<div class="radio">
							<label><input type="radio" value="grad" name="PIrole" checked={{isEqual ratingsObj.PIrole "grad"}}>Committee PI</label>
						</div>
					</div>
					
				</div>
				{{/if}}

				<div class="row">
					<div class="col-sm-3 col-sm-offset-1 tooltip-wrap">
						<p>
							<br>
							<br>
							<b>Last research interaction:</b>
							<div class="tooltip-content">
			    				<p>(What month and year did you last work with this PI?)</p>
			  				</div>
						</p>
					</div>

					<div class="col-sm-6 col-sm-offset-2">
						<br>
						<br>
						<div class="form-group">
							<input name="year" type="text" class="form-control" id="date-picker" required>
						</div>
					</div>
					
				</div>
					
				<div class="row">
					<div class="col-sm-3 col-sm-offset-5">
						<br>
						<br>
						<br>
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#rate-another-pi">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
