/*Cropping code*/
.crop {
  height: 165px;
  width: 200px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Set the image to fill its parent and make transparent */
.crop img {
  width: 200px;
  padding: 0;
}