<!-- default styles -->
<template name = "advisorDetails">
    {{#if Template.subscriptionsReady}}
        <div class="section" id="advisor">
            <div class="container">
                <div class="row">
                    {{#with advisor}}

                        <div class="col-sm-4 col-sm-offset-4 text-center">

                            {{> advisorProfileCard advisor=advisor}}
                                                        
                            <a href="{{pathFor 'advisors.rate' id=_id}}" class="btn btn-primary">{{#unless alreadyRated}}Rate PI{{else}}Edit feedback{{/unless}}</a>
                            <br>
                            
                        </div>
                    {{/with}}
                </div>
                {{#each criterias}}
                    <div class="row" id="rating-{{key}}">
                        <div class="col-sm-4 col-sm-offset-2 tooltip-wrap">
                            <p>
                                <br>
                                <b><h4>
                                {{name}}
                                </h4></b>
                                <div class="tooltip-content">
                                    <p>{{tooltip}}</p>
                                </div>
                            </p>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="pull-left">
                                {{> ratingStars value=(averageRating key) readonly=true}}
                            </div>
                        </div>
                    </div>
                {{/each}}
                <br>
                {{#if ratings.length}}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Stature</th>
                                <th>Mentorship</th>
                                <th>Autonomy</th>
                                <th>Resources</th>
                                <th>Tact</th>
                                <th>Comments</th>
                                {{#if isAdmin}}
                                    <th>Edit</th>
                                    <th>Remove</th>
                                {{/if}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ratings}}
                                {{> advisorDetailsTableRow}}
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="col-sm-offset-1">
                        No ratings yet...
                    </div>
                {{/if}}
            </div>
        </div>

    {{/if}}
</template>