<template name = "advisor">
    <div class="section" id="advisor">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    {{> logo}}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mix">
            <a href={{linker}}>
                <div class = "crop">
                    <img src={{find_advisor_info}} alt=''>
                </div>
                <h4><b>{{ thisAdvisor.name }} {{ thisAdvisor.school }}</b></h4>
                <p></p>
            </a>
        </div>
        <div>
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
        </div>
    </div>
</template>
