<template name = "addpi">
	<div class="container">
		<div class="row">
			<!--First Column of About Section-->
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Add PI</h1>
				<br>
				<form id="addpi">
					<div>
						<fieldset>
							<label for="firstName">First Name</label>
							<input type="text" id="firstName" name="firstName" class="col-sm-6 form-control" placeholder="First Name" required>
						</fieldset>
						<fieldset>
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class="col-sm-6 form-control" placeholder="Last Name" required>
						</fieldset>
						<fieldset>
							<label for="school">School</label>
							<input type="text" id="school" name="school" class="col-sm-6 form-control input-dropdown-toggler" placeholder="School" action="search-school" required autocomplete="off">
							<div class="input-dropdown">
								{{#each schools}}
									<div class="input-dropdown-option" action="set-school">
										{{name}}
									</div>
								{{/each}}
							</div>
						</fieldset>
						<fieldset>
							<label for="department">Department</label>
							<input type="text" id="department" name="department" class="col-sm-6 form-control input-dropdown-toggler" placeholder="Department" action="search-department" required autocomplete="off">
							<div class="input-dropdown">
								{{#each departments}}
									<div class="input-dropdown-option" action="set-department">
										{{name}}
									</div>
								{{/each}}
							</div>
						</fieldset>
						<br>	
						<input type="file" id="image">			
						<button type="submit" id="piSubmit" class="btn btn-primary">Submit</button>
						<!-- <div class="col-sm-3 col-sm-offset-2"> -->
						<!-- </div> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
