<!-- default styles -->
<template name = "profile">
    {{#if Template.subscriptionsReady}}
        <div class="section" id="advisor">
            <div class="container">
                <div class="row">
                    {{#with thisAdvisor}}

                        <div class="col-sm-4 col-sm-offset-4 text-center">

                            {{> advisorProfileCard advisor=thisAdvisor}}
                                                        
                            <a href="/rate-pi/{{_id}}" class="btn btn-primary">{{#unless alreadyRated}}Rate PI{{else}}Edit feedback{{/unless}}</a>
                            <br>
                            
                        </div>
                    {{/with}}
                </div>
                {{#each criterias}}
                    <div class="row" id="rating-{{key}}">
                        <div class="col-sm-2 col-sm-offset-1">
                            <p>
                                <br>
                                {{name}}
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <br>
                            <div class="tooltip-wrap">
                                <p>
                                    ?
                                </p>
                                <div class="tooltip-content">
                                    <p>{{tooltip}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-left">
                                {{> ratingStars value=(averageRating key) readonly=true}}
                            </div>
                        </div>
                    </div>
                {{/each}}
                <br>
                {{#if allRatings.length}}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Stature</th>
                                <th>Mentorship</th>
                                <th>Autonomy</th>
                                <th>Resources</th>
                                <th>Tact</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each allRatings}}
                                <tr>
                                    <td>{{stature}}</td>
                                    <td>{{mentorship}}</td>
                                    <td>{{autonomy}}</td>
                                    <td>{{resources}}</td>
                                    <td>{{tact}}</td>
                                    <td>{{free_response}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="col-sm-offset-1">
                        No ratings yet...
                    </div>
                {{/if}}
            </div>
        </div>

    {{/if}}
</template>