<template name = "advisorsList">

	<div class="section" id="find-pi">
		<div class="container">
			<div class="row">

				<!--First Column of About Section-->
				<div class="col-sm-6 col-sm-offset-3">
					<div class="form-group">
						<label for="universitySelect">University</label>
						<select class="form-control" id="universitySelect">
						 	<option class="school" value="" selected>All Universities</option>
						    {{#each universities}}
						    	<option class="school" value={{name}}>{{name}}</option>
						    {{/each}}
						</select>
					</div>

					<div class="form-group">
						<label for="schoolSelect">School</label>
						<select class="form-control" id="schoolSelect">
						 	<option class="school" value="" selected>All Schools</option>
						    {{#each schools}}
						    	<option class="school" value={{name}}>{{name}}</option>
						    {{/each}}
						</select>
					</div>

				    <div class="form-group">
						<label for="deptSelect">Department</label>
						<select class="form-control" id="deptSelect">
							<option class="department" value="">All Departments</option>
							{{#each departments}}
								<option class="department" value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div>
						{{#each advisors}}
							<div class="col-xs-12 col-sm-3 advisor">
								<div class="image-container square-container">
									<img src="{{#if imageUrl}}{{imageUrl}}{{else}}/images/avatar.png{{/if}}" class="square">
								</div>
								<b>{{firstName}} {{lastName}}</b>
								<p>
									{{university}}
									<br>
									{{school}}
									<br>
									{{department}}
								</p>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>


</template>
